.card-container {
  width: 183px;
  display: inline-block;
  .movie-card {
    margin: 10px 10px 10px 0;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 218px;
      object-fit: cover;
    }

    .ant-card-body {
      padding: 5px 10px;
      .img-tag {
        position: absolute;
        top: 5px;
        left: 5px;
      }
    }
  }
}
