:root {
  --rankFirst: #ff183e;
  --rankSecond: #ff5c38;
  --rankThird: #ffb821;
  --rankOther: #666;
}

.wraper {
  padding-top: 60px;
  .page-home {
    width: 1098px;
    margin: 40px auto;
    .block {
      margin: 0 0 50px 0;
    }
    .rank-wraper {
      display: flex;
      .block-newmovie {
        flex: 1;
      }
    }
  }
}
