.rate-box {
  width: 360px;
  .goodbox {
    background-color: #f8f8f8;
    .goodbox-rate {
      position: relative;
      margin: 10px 20px;
      padding: 10px 50px;
      border-top: 1px solid #eee;
      .title {
        font-size: 0.9rem;
        font-weight: 800;
        &:hover {
          color: var(--themeHoverColor);
        }
      }
      .rank {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
        color: var(--rankOther);
      }
      &:nth-of-type(-n + 3) .rank {
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-image: linear-gradient(
          180deg,
          #ffb821 0,
          #ff5c38 45%,
          #ff1459
        );
      }
      .box {
        position: absolute;
        top: 12px;
        right: 0;
        color: #999;
      }
      .summary {
        color: #999;
        overflow: hidden;
        .box-new {
          color: var(--highlightColor);
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
